body {
	background-color: grey;
}

h1 {
	font-family: sans-serif;
	color: blue;
}

h2 {
	font-family: sans-serif;
	color: blue;
}

p {
	font-family: sans-serif;
}

img {
	border-radius: 15px;
}

div {
	border-radius: 15px;
	padding: 5px;
	margin: 10px;
    background-color: #b86614;
    box-shadow: 10px 10px 10px black;
  }

