body {
	background-color: #DAB28E;
}

h1 {
	font-family: constantia;
	color: black;
}

h2 {
	font-family: constantia;
	color: black;
}

p {
	font-family: constantia; 
	color: black; 
}

img {
	border-radius: 30px;
}

div {
	border-radius: 30px;
	padding: 20px;
	margin: 10px;
  border-style: double;