body {
	background-color: #8B4513;
}

h1 {
	font-family: constantia;
	color: black;
	color: white;
}

h2 {
	font-family: constantia;
	color: black;
	color: white;
}

p {
	font-family: constantia; 
	color: white; 
}

img {
	border-radius: 30px;
}

div {
	border-radius: 30px;
	padding: 20px;
	margin: 10px;
    background-color: blue;
    box-shadow: 15px 15px 20px black;
  }

button {
  background-color: #8B4513; /* Brown */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
