body {
	background-color: black;
	font-family: calibri;
	color: beige; 
}

h1 {
	font-family: calibri;
	color: beige;
  font-size: 40px;
}

h2 {
	font-family: calibri;
	color: beige;
}

/*p {
  font-family: ; 
  color: white;
  color: teal;
}*/

img {
	border-radius: 35px;
}

div {
	border-radius: 35px;
	padding: 15px;
	margin: 50px;
/*	border-style: dashed;*/
  	color: beige;
/*  	background-color: darkblue; */
}

a {
  color: white;
}

button {
  background-color: silver;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: left;
  border-style: double;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
}

/*button:hover {background-color: silver}*/

button:active {
  background-color: gold;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}